<!-- Credit card -->
<div class="container-card">
  <div class="credit-card"
    (click)="showCardFrontChangeFaceCard()"
    [ngClass]="{'active': changeFaceCard}">

    <!-- Cara frontal de la tarjeta -->
    <div class="card-front animate__animated animate__fadeIn animate__fast"
      [ngStyle]="{'background': 'url(assets/img/bg-tarjeta/bg-' + getImageCreditCard + '.jpg)'}">
      <div class="brand-logo">
        <img *ngIf="getImageCreditCard" [src]="'assets/img/logos/' + getImageCreditCard + '.png'" alt="">
      </div>
      <img src="assets/img/chip-tarjeta.png" class="chip" alt="">
      <div class="data">
        <div class="group-card" id="number">
          <p class="label">Número tarjeta</p>
          <p class="number">{{ getNumberCardCreditValue ?
            (getNumberCardCreditValue | mask:'0000-0000-0000-0000') : '####-####-####-####' }}</p>
        </div>
        <div class="flexbox">
          <div class="group-card" id="name">
            <p class="label">Nombre tarjeta</p>
            <p class="name">{{ getNameHolderValue | uppercase }}</p>
          </div>
          <div class="group-card" id="expiration">
            <p class="label">Expiración</p>
            <p class="expiration">
              <span class="month">{{ getMonthExpirationValue }}</span> / <span class="year">{{ getYearExpirationValue }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Cara trasera de la tarjeta -->
    <div class="card-back animate__animated animate__fadeIn animate__fast"
      [ngStyle]="{'background': 'url(assets/img/bg-tarjeta/bg-' + getImageCreditCard + '.jpg)'}">
      <div class="magnetic-bar"></div>
      <div class="data">
        <div class="group-card" id="firma">
          <p class="label">Firma</p>
          <div class="firma">
            <p>{{ getNameHolderValue | titlecase }}</p>
          </div>
        </div>
        <div class="group-card" id="cvv">
          <p class="label">CVV</p>
          <p class="cvv">{{ getCvvValue }}</p>
        </div>
      </div>
      <p class="class">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tempor, sem tempus lacinia vestibulum, ex nunc eleifend lorem.
      </p>
      <a href="" class="link-bank">www.tubanco.com</a>
    </div>

  </div>
</div>

<!-- Container button -->
<div class="container-btn">
  <button class="btn-open-form animate__animated animate__fadeIn animate__slower"
    id="btn-open-form"
    (click)="showFormCreditCardRotateButton()"
    [ngClass]="{'active': rotateButton}">
    <i class="fas fa-plus"></i>
  </button>
</div>
