<div class="container mt-5">

  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="titulo">TARJETA CREDITO</h3>
        </div>
      </div>
    </div>
  </div>

  <!-- TODO: Agregar animated CSS -->
  <div class="row mt-4">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <app-credit-card-form
            (creditCardsEmitter)="processCreditCardsEmitter($event)"
            [action]="action"
            [id]="id"
            (formCreditCardEmitter)="processFormCreditCardEmitter($event)">
          </app-credit-card-form>

        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">

          <app-credit-card-list
            [creditCards]="creditCards"
            (actionEmitter)="processActionEmitter($event)"
            (idEmitter)="processIdEmitter($event)"
            [formCreditCard]="formCreditCard">
          </app-credit-card-list>

        </div>
      </div>
    </div>
  </div>

</div>
