/* You can add global styles to this file, and also import other style files */
/* body {
  background: #8E0E00;  /* fallback for old browsers
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+
} */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #ddeefc !important;
	font-family: 'Lato', sans-serif;
}

/* ------------------------------ Estilos del validate ------------------------------ */

.titulo {
  font-family: 'Play', sans-serif;
  text-align: center;
}

.is-invalid {
  background-color: rgba(255, 0, 0, .1) !important;
}

.is-valid {
  background-color: rgba(0, 255, 0, .1) !important;
}

span.badge {
  opacity: .8;
}

span i.text-danger::before,
span i.text-success::before {
  opacity: .8;
}

.a_link {
  cursor: pointer;
}

/* ------------------------------ Tarjeta de credito ------------------------------ */

.container-card {
  width: 95%;
  max-width: 1000px;
  padding: 10px 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------------------------------ Estilos generales de la tarjeta ------------------------------ */

.credit-card {
  width: 100%;
  max-width: 550px;
  position: relative;
  color: #fff;
  transition: .3s ease all;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  /* backface-visibility: hidden; */
  cursor: pointer;
  z-index: 2;
}

.credit-card.active {
  transform: rotateY(180deg);
}

.credit-card > div {
  padding: 20px 30px;
  border-radius: 15px;
  min-height: 315px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 10px 10px 0 rgba(90, 116, 148, 0.3);
}

/* ------------------------------ Frente de la tarjeta ------------------------------ */

.credit-card .card-front {
  width: 100%;
  /* background: url('assets/img/bg-tarjeta/bg-tarjeta-02.jpg'); */
  background-size: cover !important;
  background-color: #000 !important;
}

.credit-card.active .card-front {
  backface-visibility: hidden;
}

.card-front .brand-logo {
  text-align: right;
  min-height: 50px;
}

.card-front .brand-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 80px;
}

.card-front .chip {
  width: 100%;
  max-width: 50px;
  margin-bottom: 20px;
}

.card-front .group-card .label {
  font-size: 16px;
  color: #7d8994;
  margin-bottom: 5px;
}

.card-front .group-card .number,
.card-front .group-card .name,
.card-front .group-card .expiration {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
}

.card-front .flexbox {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* ------------------------------ Reves de la tarjeta ------------------------------ */

.credit-card .card-back {
  width: 100%;
  /* background: url('assets/img/bg-tarjeta/bg-tarjeta-02.jpg'); */
  background-size: cover !important;
  background-color: #000;
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-back .magnetic-bar {
  height: 40px;
  background: #000;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
}

.card-back .data {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.card-back .data p {
  margin-bottom: 5px;
}

.card-back .data #firma {
  width: 70%;
}

.card-back .data #firma .firma {
  height: 40px;
  background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.card-back .data #firma .firma p {
  line-height: 40px;
  font-family: 'Liu Jian Mao Cao', cursive;
  color: #000;
  font-size: 30px;
  padding: 0 10px;
  text-transform: capitalize;
}

.card-back .data #cvv {
  width: 20%;
}

.card-back .data #cvv .cvv {
  height: 40px;
  background: #fff;
  color: #000;
  padding: 10px;
  text-align: center;
}

.card-back .leyenda {
  font-size: 14px;
  line-height: 24px;
}

.card-back .link-bank {
  font-size: 14px;
  color: #fff;
}

/* ------------------------------ Contenedor del boton ------------------------------ */

.container-btn {
  display: flex;
  justify-content: center;
}

.container-btn .btn-open-form {
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 20px;
  background: #2364d2;
  color: #fff;
  position: relative;
  top: -35px;
  z-index: 3;
  border-radius: 100%;
  box-shadow: 5px 4px 8px rgba(24, 56, 82, 0.4);
  padding: 5px;
  transition: all .2s ease;
  border: none;
  cursor: pointer;
}

.container-btn .btn-open-form:hover {
  background: #1850b1;
}

.container-btn .btn-open-form.active {
  transform: rotate(45deg);
}

/* ------------------------------ Tarjeta formulario ------------------------------ */

.card-form-credit-card {
  padding: 150px 30px 30px 30px;
  position: relative;
  top: -190px;
  z-index: 1;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path .3s ease-out;
}

.card-form-credit-card.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.card-form-credit-card input:hover,
.card-form-credit-card select:hover {
  border: 1px solid #93bded;
}

.card-form-credit-card input:focus,
.card-form-credit-card select:focus {
  outline: rgb(4, 4, 4);
  box-shadow: 1px 7px 10px -5px rgba(90, 116, 148, .3);
}

.card-form-credit-card .btn-save {
  background: #2364d2 !important;
  color: #fff;
  box-shadow: 2px 2px 10px 0px rgba(0, 85, 212, 0.4);
  font-size: 1.25rem;
}

.card-form-credit-card .btn-save:hover {
  background: #1850b1 !important;
}
