/* You can add global styles to this file, and also import other style files */
body {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titulo {
  font-family: 'Play', sans-serif;
  text-align: center;
}

.is-invalid {
  background-color: rgba(255, 0, 0, .1) !important;
}

.is-valid {
  background-color: rgba(0, 255, 0, .1) !important;
}

span.badge {
  opacity: .8;
}

span i.text-danger::before,
span i.text-success::before {
  opacity: .8;
}

.a_link {
  cursor: pointer;
}
